/*Armatech Game*/
.gameContainer {
    display: flex;
    justify-content: center; /*horizontal center*/
    align-items: center; /*vertical center*/
    height: 100%;
    margin: 50px;
  }
  .gameDescription {
    font-size: 125%;
  }
  .gameDescription .title {
    font-size: 200%;
  }
  .gameDescription p {
    padding: 0% 3%;
  }
  .gameDescription ul {
    text-align: center;
  }
  
  /*if the screen is large enough, show the game*/
  #armatech {
    width: 820px;
    height: 510px;
    border: #120a2b solid 5px;
  }
  
  /*Wordle Game*/
  #wordle {
    margin: 0px;
    width: 500px;
    height: 650px;
  }
  
  /*Game background*/
  .game {
    background-image: linear-gradient(rgb(167, 140, 241), rgb(58, 241, 226));
  }