html {
  background-color: rgb(252, 244, 230);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*PROJECTS*/
#projects {
  clear: both;
  padding: 20px 0px 0px;
  background-image: linear-gradient(rgb(193, 234, 235), rgb(164, 137, 226));
}
/*List of projects (3 columns)*/
.projectList {
  padding: 20px 40px 40px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}
.projectList li {
  font-size: 110%;
  margin: 20px 20px;
}
/* The project boxes are collapsible */
.projectTitle {
  grid-column: 1/3;
  font-size: 220%;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(175, 221, 228);
  justify-self: center;
  align-self: center;
}

.projectContent {
  /*Use CSS Grid */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;

  align-self: center;

  background-color: rgb(175, 221, 228);
  border-radius: 0 0 20px 20px;
  width: 91%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 40px;
}

/*Style when the collapsible is opened*/
li .active,
.projectTitle:hover {
  background-color: rgb(93, 115, 148);
  color: white;
}
/*Style the rest of the project box children*/
.projectContent .desc {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: end;
  justify-content: center;
}
.projectContent .gameThumbnail {
  grid-row: 2/4;
  grid-column: 2/3;
  text-align: center;
  margin: 10px 0;
}
.gameThumbnail img {
  max-width: 100%;
}

.projectButtons {
  /*Specify properties as a flex container for the buttons*/
  display: flex;
  flex-direction: row;
  justify-content: center;

  /*Specify properties as an item inside the grid*/
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 3/4;
  align-self: start;
  justify-self: center;
}

.button {
  margin: 10px;
}

body {
  /*Change the font weight in general*/
  font-weight: normal;
}

/* PAGE NAV MENU */
.menu {
  width: 100%;
  height: 46px;
  position: static;
  top: 0;
  background-color: rgba(6, 68, 139, 0.829);
  overflow: auto;
  z-index: 2;
}

/*Display as a block in order to make the clickable area a rectangle*/
.menu li {
  text-align: left;
  font-weight: lighter;
  float: left;
  padding: 5px 16px;
  display: block;
  font-size: 150%;
}

.menu ul {
  margin: 0;
}
/*General Links*/
a {
  color: black;
}
.menu a {
  color: white;
}
/* Menu on mouse-over */
.menu li:hover {
  background-color: rgb(214, 214, 214);
  color: rgba(2, 80, 168, 0.829);
}
/*Buttons*/
.button {
  padding: 8px;
  margin: 10px 10px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 110%;
}
.button:hover {
  background-color: rgba(146, 145, 145, 0.432);
}

/*Adjust the main content of the page*/
.main {
  margin-top: 46px;
  background-color: rgb(58, 241, 226);
}

/* Page title "Quinton Mak" */
.title {
  margin: auto;
  padding: 20px 5px 5px;
  font-size: 400%;
  font-weight: 500;
  text-align: center;
  color: #363636;
  line-height: 1.125;
}

/*CONTACT*/
#contact {
  clear: both;
}
.contactList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*Handle the clickable icons*/
.fa {
  margin: 0 20px;
  transform: scale(2);
}
.fa:hover {
  transform: scale(2.5);
}

/*ABOUT*/
/*Use flexbox for the 'about' section*/
#about {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 20px;
  /*background-image: linear-gradient(rgb(58, 241, 226), rgb(193, 234, 235));*/
}

.description {
  text-align: left;
  font-size: 165%;
  margin-left: 25px;
  padding: 15px;
}

/*Profile Picture*/
#pfp {
  margin: 30px 20px;
  zoom: 1;
}

/*Armatech Game*/
.gameContainer {
  display: flex;
  justify-content: center; /*horizontal center*/
  align-items: center; /*vertical center*/
  height: 100%;
  margin: 50px;
}
.gameDescription {
  font-size: 125%;
}
.gameDescription .title {
  font-size: 200%;
}
.gameDescription p {
  padding: 0% 3%;
}
.gameDescription ul {
  text-align: center;
}

/*if the screen is large enough, show the game*/
#armatech {
  width: 820px;
  height: 510px;
  border: #120a2b solid 5px;
}

/*Wordle Game*/
#wordle {
  margin: 0px;
  width: 500px;
  height: 650px;
}

/*Game background*/
.game {
  background-image: linear-gradient(rgb(167, 140, 241), rgb(58, 241, 226));
}


/*EXPERIENCE*/
#experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expList .expContainer {
  display: grid;
  grid-template-columns: 25% 37.5% 37.5%;
  margin: 20px;
}

.expList .expDate {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 200%;
  padding: 10px;
}

.expContent {
  grid-column: 2/4;
  padding: 10px 20px;
  font-size: 115%;
}

.expTitle,
.expSubtitle {
  font-style: italic;
  font-size: 135%;
}

.expTitle {
  font-weight: 500;
}

.expPointList {
  list-style: disc;
  padding: 20px;
}

/*Responsive Design*/

@media screen and (max-width: 850px) {
  /*stack image and content - not enough horizontal space */
  #about {
    flex-direction: column;
  }
  /* Stack project thumbnail with content */
  .projectList li .projectContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projectButtons {
    align-self: center;
  }
  img {
    zoom: 0.7;
  }
}

@media screen and (max-width: 700px) {
  header {
    font-size: 100%;
  }
  /*Resize the project list*/
  .projectList {
    padding: 5px 5px;
  }
  .projectContent {
    font-size: 100%;
    width: 95%;
  }
  .projectTitle {
    font-size: 200%;
    border-radius: 10px;
  }
  /*Resize the menu*/
  .menu a {
    font-size: 130%;
    float: left;
    padding: 5px 16px;
  }
  .menu {
    height: 41px;
  }

  /* Rearrange experience section */
  .expList .expContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
}

@media screen and (max-width: 410px) {
  /*Display nemu vertically*/
  .menu {
    height: auto;
    position: fixed;
  }
  .menu a {
    text-align: center;
    float: none;
  }
  .projectButtons {
    flex-direction: column;
  }
}